{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "header"}}<a href='/'>Домашняя страница</a>{{end}}

{{define "main"}}
<h2>Последние заметки</h2>
<p>Пока здесь ничего нет!</p>
{{end}}